/* REPRESENTATIVE CSS */
h1 {
/*    position: absolute;
    top: 100px;
    width: 40%;*/
    text-align: center;
/*    margin-left: 30%;*/
}

#back{
  font-family: "Roboto", Calibri, sans-serif;
  position: fixed;
  top: 5%;
  left: 3%;
  background-color: white;
  padding: 1% 3%;
  opacity: .65;
  z-index: 101;
}

.subtitle {
    font-size: 20px;
    text-decoration: underline;
}

#bills {
    padding-top: 20px;
}

#facts {
    margin-top: 30px;
}

.section {
    padding-left: 10%;
}

#contact ul li {
    display: inline-block;
    padding-right: 15px;
}

img {
    position: relative;
}

#page {
    position: absolute;
    top: 200px;
    width: 60%;
    background-color: white !important;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
}

#lists {
    width: 100%;
    position: relative;
}

.list {
    float: left;
    width: 50%;
}

#sponsored {
    float: left;
    width: 50%;
}

#co-sponsored {
    float: left;
    width: 50%;
}

/* HOMEPAGE CSS */

#blankspace{
    height:45px;
}

#billDirectionsDiv{
    padding-bottom: 10px;
}


.container{
    background-color: white;
    display: none;
}


.jumbotron{
    background-color: transparent;
    padding-top: 15px;
    color:white;
    border-color: gray;
}

.carousel {
    /*pause: false;*/
}

.carousel-caption h3{
    /*height:370px;*/
    color:black;
}

.carousel-caption{
    width:940px;
    height:100%;
    bottom: 0px;
    background-color: rgba(255,255,255, 0.5);
    left:0%;
    right:0%;
}

.inner-carousel-caption{
    opacity: 1;
}

#zipSubmit{
    padding-top: 7px;
}
