body, #homepage{
  
  background-color: #FCFCFC;
}

h1, h2, h3{
    font-family: 'Playfair Display SC', serif;
}

a:hover{
    cursor:pointer;
}

#back{
  position: fixed;
  top: 5%;
  left: 3%;
  background-color: white;
  padding: 1% 3%;
  opacity: .65;
  z-index: 101;
}

#back:hover{
    cursor: pointer;
}


/* HOMEPAGE CSS */

#blankspace{
    height:45px;
}

#billDirectionsDiv{
    padding-bottom: 10px;
}


.container{
    background-color: white;
    display: none;
}


.jumbotron{
    background-color: transparent;
    padding-top: 15px;
    color:white;
    border-color: gray;
}

.carousel{
    margin-bottom: 10em;
}

.goToSection{
    color: white;
}

.goToSection:hover{
    color: black;
}

.carousel-control{
    z-index: 100;
}

#zipSubmit{
    padding-top: 7px;
}

#control-label{
    padding: 0;
}

#toolTipAndMap{
    margin-bottom: 2em;
}

#stateNameTag{
    font-size: 2em;
    color: #728D9E;
}

.splitter{
    font-size: 1.5em;
    font-family: "Rock Salt", sans-serif;
    color: #690000;
    margin: 2em 0;
    font-style: italic;
}

#recentBillsDiv{
    margin-top: 10em;
}

#recentBillsDiv h3{
    margin-bottom: 1em;
}

li div .btn, li div .btn-info{
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    border: none;
}

li div .btn:hover, li div .btn-info:hover{
    cursor: pointer;
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    border: none;
}

#accordion{
    margin-bottom: 15em;
}



/* STATE CSS */
.party-count{
    width: 100%;
    margin-bottom: 2em;
}

.statename{
    margin-bottom: 1em;
}

.senators, .house{
    background: white;
    padding: 0;
    border: 1px solid gray;
    height: 15em;
    overflow: scroll;
    margin-bottom: 10em;
}

.senators{
    margin-bottom: 2em;
}

.senators h3, .house h3{
    padding: .5em 0;
    background: #CCCCCC;
    border-bottom: 1px solid gray;
    margin-top: 0;
}

.senators p, .house p{
    padding: 0 1em;
    cursor: pointer;
}



/* REPRESENTATIVE CSS */

#bills, #facts, #contact {
    margin-top: 3em;
}

.section {
    padding: 0 3%;
}

#contact ul li {
    display: inline-block;
    padding-right: 15px;
}

#capitalHill {
    position: relative;
    opacity: .85;
}

#page {
    position: absolute;
    top: 10%;
    background-color: white !important;
    border-radius: 25px;
    border: 1px black dotted;
    margin-bottom: 10em;
}

#lists {
    width: 100%;
    position: relative;
}

#sponsored li{
    padding: .1em 0;
}



/* BILL PAGE CSS */
.bill{
    background: white;
}

.relatedArtSec{
    margin-bottom: 5em;
}

.billActContainer{
    margin-bottom: 2em;
}

.billActions{
    height: 20em;
    overflow: scroll;
    border: 1px gray dotted;
}
